.container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}

.photoContainer {
    display: flex;
    min-height: 50%;
    align-items: center;
    justify-content: center;
}